@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #FFFFFF;
    color: #1A1A1A;
  }

  ::selection {
    background-color: #F7D200;
    color: #1A1A1A;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
